<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{data.programName}} Program Code: {{data.programCode}}</h2>
      <br />
      <form method="post" action="/program/update">
        <fieldset>
          <legend>Program Information</legend>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="programName">Program Name:</label>
                <input class="form-control" id="programName" name="programName" type="text" value="{{data.programName}}" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="programCode">Program Code:</label>
                <input class="form-control" id="programCode" name="programCode" type="text" readonly value="{{data.programCode}}" />
              </div>
            </div>
          </div>
        </fieldset>
        <hr />
        <input type="submit" class="btn btn-primary pull-right" value="Update Program" />
      </form>
    </div>
  </div>
</div>
